body, html{
  margin:0;
  padding:0;
}
#root{
    width:100%;
}
.app{
    width: 100%;
    height: 100%;
    min-height: 900px;
    background-image: url("death_star.jpeg");
    background-position: center;
    color:rgb(230,230,230);
    text-align: center;
}
.mainInfo{
    margin-top:50px;
    width: 100%;
    height: 100%;
    display:block;
    text-align:center;
}
.mainInfoInner{
    background-color: rgba(50, 50, 50, 0.5);
    display:block;
    overflow:auto;
    margin-left: 30%;
    width:40%;
}
.character-list{
    margin-top: 60px;
    width: 100%;
    display: block;
    overflow: auto;
}
.character-list-item{
    width: 30%;
    margin-left:35%;
    height: 30px;
    background-color:rgba(0,0,0,0.8);
}
.page-selector{
    color: black;
    width: 100%;
}
.search-button{
    color: darkgray;
}
.pgRight{
    float:left;
}
.container{
    height: 600px;
}

.applyFiltersButton{
    color: darkgray;
}
.filtro{
    color: black;
    background-color: rgba(100, 100, 100, 0.8);
    width: 200px;
    height: 50px;
}